<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <p class="kicker">lernen einfach gemacht</p>
      <h1 class="jumbo">Pandas <br />Tutorials.</h1>

      <p>
        "Das Erlernen von Pandas kann anfangs eine Herausforderung sein, aber es
        gibt viele nützliche Tutorials und Ressourcen, die den Einstieg
        erleichtern und den Lernprozess beschleunigen können."
      </p>

      <a href="#" routerLink="/lectures/one" class="btn mr-sm">
        Zu den Aufgaben</a
      >
    </div>

    <div class="col-sm-6">
      <img
        src="https://assets.codepen.io/772926/hero.png"
        class="hero-img"
        alt=""
      />
    </div>
  </div>
</div>
