.half-half-image-text {
    padding: 70px 0px;
  }
  .half-half-image-text h1 {
    color: var(--bg);
  }
  .half-half-image-text .content {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 35px 0px;
    color:white;
  }
  .half-half-image-text .content p {
    font-size: 22px;
  }
  .half-half-image-text .img {
    min-height: 320px;
    height: 100%;
    border-radius: 10px;
  }
