a {
  text-decoration: none;
  vertical-align: middle;
  color: var(--color-second);
}
ul {
  list-style: none;
}
.site {
  display: flex;
  flex-direction: row;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 280px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  overflow: hidden;
}

/* Brand - Logo*/
.brand {
  height: 80;
  padding: 25px;
  margin-right: 15px;
  border-bottom: 1px solid;
  border-color: var(--color-main-dark);
  display: flex;
  justify-content: space-between;
}
.brand :is(div, a) {
  display: flex;
  align-items: center;
}

.logo a {
  font-weight: 800;
  font-size: 1.5em;
  color: white;
}
.logo span {
  color: var(--color-main);
}
.trigger ion-icon,
nav a ion-icon:first-child {
  font-size: 20px;
}
.trigger [name="menu-outline"],
.mininav .trigger [name="chevron-back-outline"] {
  display: none;
}
.mininav .trigger [name="menu-outline"] {
  display: block;
}

/* Navigation */
nav {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
}
nav li a,
.sign-out a {
  position: relative;
  padding: 15px 25px;
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  transform: var(--transition);
  -webkit-transform: var(--transition);
}

nav li :is(a:hover) {
  background-color: var(--color-main-dark);
}

nav li a > * {
  display: flex;
  align-items: center;
}

nav a ion-icon {
  flex-shrink: 0;
  transition: var(--transition);
  -webkit-transition: var(--transition);
}

nav a ion-icon:first-child {
  margin-right: 15px;
  color: #504a6e;
}

nav li a span {
  display: flex;
  flex-grow: 1;
  transition: var(--transition);
  -webkit-transition: var(--transition);
}

nav li a:hover,
.collapse a span {
  color: white;
}

nav ul ul li a::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: var(--color-second);
  border-radius: 50%;
  margin: 0 15px;
}

nav li a:hover::before {
  background-color: var(--color-main);
}

nav :is(a:hover) ion-icon:first-child,
.trigger a:hover ion-icon {
  color: var(--color-main);
}

nav li.small {
  color: #504a6e;
  text-transform: uppercase;
  font-size: 12px;
  margin: 25px 25px 5px;
  letter-spacing: 2px;
}

/* Show Submenu */
nav li.has-child ul {
  max-height: 0;
  opacity: 0;
  transition: all 0.2s ease-out;
}

nav li.collapse ul {
  max-height: 100vh;
  opacity: 1;
  transform: all 0.5s ease-in;
}
nav li.collapse ion-icon:last-child {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

nav li .notify {
  position: absolute;
  top: 50%;
  right: 50px;
  width: 17px;
  height: 17px;
  background-color: #eb3b5a;
  font-size: 9px;
  margin-top: -8px;
  border-radius: 50%;
  align-items: end;
  justify-content: center;
  color: var(--bg);
}

nav li .inbox {
  background-color: aqua;
}

nav li .star {
  background-color: yellow;
}

.sign-out {
  display: flex;
  align-items: center;
}

/* Mini Nav */
.mininav .sidebar {
  width: 70px;
}
.mininav :is(.logo, nav ul ul a) {
  display: none;
}

.mininav nav a *:not(ion-icon:first-child):not(.notify),
.mininav nav .small {
  opacity: 0;
}
.mininav nav li .notify {
  right: 5px;
}

.mininav .main {
  padding-left: 70px;
}

.main {
  height: 100vh;
  padding-left: 280px;
  display: flex;
  flex: 1 auto;

  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
  -webkit-transition: var(--transition);
}
.title {
  margin-top: 20px;
}
/* Scrollbar */
nav::-webkit-scrollbar {
  width: 7px;
}

nav::-webkit-scrollbar-thumb {
  background-color: transparent;
}

nav:hover::-webkit-scrollbar-thumb {
  background-color: #4c4091;
}
