<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p class="kicker" style="color: green">verfügbar</p>
      <h1 class="jumbo">Über mich.</h1>

      <p>"Lorem ipsum, dolor sit amet consectetur adipisicing elit."</p>

      <div class="card">
        <div class="text">
          <img src="assets/about-me/picture.jpg" alt="" />
          <h3>Federico Clinaz</h3>
          <p>Fachinformatiker für Daten- und Prozessanalyse</p>
          <p>
            Mein Name ist Federico Clinaz und ich bin Fachinformatiker für
            Daten- und Prozessanalyse. <br />In meiner Freizeit beschäftige ich
            mich gerne mit neuen Technologien und halte mich stets auf dem
            Laufenden über Entwicklungen in meinem Fachgebiet.<br />
            Ich bin überzeugt, dass es in meinem Beruf nie auslernen gibt und
            freue mich auf die Herausforderungen, die die Zukunft noch bringen
            wird.
          </p>
        </div>
        <div class="links">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
