@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --bg: #1d1b28;
  --color-main: #4628e9;
  --color-main-dark: #191528;
  --color-second: #aaa7b9;
  --transition: all 0.3s ease-out;
}

* {
  margin: 0;
  padding: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  background-color: var(--bg);
}



.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 1rem!important;
  margin-top: 5rem;
}
h1.jumbo {
  font-size: 3.5rem;
}

p {
  margin-bottom: 1.5rem;
  margin-top: 0;
  letter-spacing: 0.25px;
  font-weight: 300;
}

.hero-img {
  height: 350px;
}

.lecture-buttons {
  margin-top: 2rem;
}

.lecture-buttons button {
  margin-right: 0.5rem;
}



.kicker {
  text-transform: uppercase;
  color: green;
  font-weight: 400;
  font-size: 0.85rem !important;
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
  font-family: monospace;
}

.title {
  margin-bottom: 1rem;
}

.activeRoute ion-icon {
  color: wheat !important;
}

.activeRoute  {
  color: white !important;
}

.activeRoute ion-icon:last-child  {
  color: white !important;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
